<form id="search" method="get" action="/search">
	<fieldset>
      <input type="text" id="query" name="query" />
      <input type="submit" value="Search" />
    </fieldset>
</form>
<hr>
<ol class="results">
  <% @posts.each do |post| %>
  <li><%= link_to post.title, topic_post_path(post.topic,post) %></li>
  <% end %>
 </ol>
