<form id="search" method="get" action="/search">
	<fieldset>
      <input type="text" id="query" name="query" />
      <input type="submit" value="Search" />
    </fieldset>
</form>
<hr>
<table>
	<tr>
		<th>Topic</th>
		<th>Post</th>
	</tr>
  <% @topic_posts.each do |topic,post| %>
    <tr>
		<td class ="result_topic"><%=topic.title%></td>
		<td class ="result_post"><%= link_to post.title, topic_post_path(post.topic,post) %></td>
    </tr>
  <% end %>
 </table>
 </ol>
